<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PassportWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.passport.com/PassportWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PassportWebServiceSoap"
                contract="PassportServiceReference.PassportWebServiceSoap"
                name="PassportWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>